body {
  margin-bottom: 200px;
  overflow-x: hidden !important;
  width: 100vw !important;
}

#left-tabs-example {
  overflow-x: hidden !important;
}

.fa-solid {
  font-size: 24px !important;
}

.bannerImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* sidebar */
.sidebar {
  position: sticky;
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 100; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
} */

/* sidebar */

.gameImg {
  /* height: 100px;
  width: 200px; */
  width: 100%;
}

footer {
  /* background: linear-gradient(0deg, #02293a, #00354d);
  box-shadow: 0 -5px 10px #0000004d; */
  background-color: #00354D;
  /* z-index: 100000; */

}

.footerImg {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent !important;
  border: 2px solid goldenrod !important;
  box-shadow: 0px 3px 14px -5px #ffc107;
}

.fade:not(.show) {
  display: none !important;
  visibility: hidden !important;
}

.tabImg {
  height: 35px !important;
  /* width: 50px !important; */
}

@media screen and (min-width: 980px) and (max-width: 1030px) {
  .hotGameImg {
    height: 200px;
  }
}

@media screen and (min-width: 570px) and (max-width: 979px) {
  .hotGameImg {
    height: 230px;
  }
}

@media screen and (max-width: 860px) {
  .tabTitle {
    font-size: 13px;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .bannerImg {
    height: 250px;
  }
}

@media screen and (max-width: 615px) {
  .gameImg {
    height: 80px;
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .bannerImg {
    height: 200px;
  }

  .tabTitle {
    padding: 0 5px;
  }

  .gameImg {
    height: 70px;
    width: 100%;
  }
}

@media screen and (max-width: 570px) {
  .tabTitle {
    padding: 0 20px;
  }
}

@media screen and (max-width: 400px) {
  .hotImg {
    height: 120px;
  }
}

@media screen and (max-width: 390px) {
  .gameImg {
    height: 80px;
  }
}

@media screen and (max-width: 380px) {
  .tabTitle {
    padding: 0 10px;
  }

  .footerTitle {
    font-size: 13px;
  }

  .bannerImg {
    height: 150px;
  }

  .playerInfoImg {
    height: 40px;
  }

  .playerInfoTitle {
    font-size: 13px;
  }
}

@media screen and (max-width: 370px) {
  .gameImg {
    width: 100%;
  }
}

@media screen and (max-width: 350px) {
  .gameImg {
    height: 70px;
  }
}

@media screen and (max-width: 340px) {
  .logo {
    font-size: 20px;
  }

  .tabTitle {
    font-size: 12px;
    padding: 0 3px;
  }
}

@media screen and (max-width: 320px) {
  .gameImg {
    height: 60px;
  }

  .fa-solid {
    font-size: 18px !important;
  }

  .logo {
    font-size: 18px;
  }

  .customContainer {
    margin: 0 !important;
    padding: 0 1px !important;
  }

  .tabImg {
    height: 25px !important;
  }
}

@media screen and (max-width: 304px) {
  /* #left-tabs-example-tabpane-1 .col-6 {
        width: 45% !important;
    }

    /* #left-tabs-example-tabpane-1 {
        margin-left: 15px !important;
    } */
}

@media screen and (max-width: 300px) {
  .footerImg {
    height: 20px;
    width: 20px;
  }
}
