.nav-tabs .nav-link{
    color: gold !important;
    border: 1px solid gold !important;
    border-radius: 5px;
    padding: 10px 20px !important;
}
.nav-tabs .nav-link.active{
    background: #000 !important;
    /* color: #fff !important; */
}
.nav-tabs{
    margin: 20px;
    gap: 20px !important;
}
.proImg{
    height: 250px;
    width: 80%;
    object-fit: cover;
}
@media screen and (max-width:800px) {
    .proImg{
        height: 200px;
        width: 90%;
    }
}
@media screen and (max-width:600px) {
    .proImg{
        height: 150px;
        width: 90%;
    }
    .nav-tabs{
        gap: 10px !important;
    }
}
@media screen and (max-width:500px) {
    .nav-tabs .nav-link{
        padding: 5px 10px !important;
    }
}
@media screen and (max-width:430px) {
    .proImg{
        height: 130px;
        width: 90%;
    }
}